<main class="welcome-page">

  <section class="welcome-content">

    <!-- LOGO -->

    <div class="brand">

      <div class="brand-icon">

        <span class="brand-g">
          G
        </span>

        <span class="brand-l">
          L
        </span>

      </div>

      <div class="brand-name">
        GUAYALINK
      </div>

    </div>


    <!-- TITULO -->

    <h1>

      Tu voz conecta

      <span>
        la ciudad.
      </span>

    </h1>


    <!-- DESCRIPCION -->

    <p class="description">

      Reporta problemas urbanos,
      sigue su progreso y ayuda a construir
      una ciudad más segura, limpia y conectada.

    </p>


    <!-- BOTONES -->

    <div class="actions">

      <a
        routerLink="/login"
        class="start-button"
      >
        Comenzar
        <span>→</span>
      </a>


      <a
        routerLink="/dashboard"
        class="guest-button"
      >
        Explorar como invitado
      </a>

    </div>

  </section>

</main>