<nav class="nav">

  <a
    routerLink="/dashboard"
    routerLinkActive="active"
  >

    ⌂

    <span>
      {{ t('nav.home') }}
    </span>

  </a>


  <a
    routerLink="/mapa"
    routerLinkActive="active"
  >

    ⌖

    <span>
      {{ t('nav.map') }}
    </span>

  </a>


  <a
    class="create"
    routerLink="/nuevo-reporte"
  >
    ＋
  </a>


  <a
    routerLink="/estadisticas"
    routerLinkActive="active"
  >

    ▥

    <span>
      {{ t('nav.impact') }}
    </span>

  </a>


  <a
    routerLink="/perfil"
    routerLinkActive="active"
  >

    ◉

    <span>
      {{ t('nav.profile') }}
    </span>

  </a>

</nav>